/* Game9x9.jsx */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 40px;
}

/* Board.jsx */
.board {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-top: 10px;
  max-width: 546px;
}

/* MiniBoard.jsx */
.mini-board {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
}

.mini-board.active {
  background: #ffcccc;
}

.mini-board.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 88, 0, 0.17);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px; /* Ajusta el tamaño de la fuente */
  font-weight: bold;
  line-height: 1; /* Asegura que el texto se centre verticalmente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra para mejorar la visibilidad */
}


/* Square.jsx */
.square {
  width: 60px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fc5800;
  background: #383737;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background: #0d00ff;
}

.square.hovered {
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}

/* Pop up*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: rgb(42, 42, 42);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup button {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
