/* src/components/ButtonTypeGame.css   */
.game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FC581B;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .game-button:hover {
    background-color: #ae99fc;
  }
  
  .game-button-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20%;
  }
  
  .game-button-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
