.App {
  text-align: center;
  padding: 20px;
}

.game-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer{
  margin-top: 10%;
  justify-content: center;
  text-align: center;
}